{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}
{% block about_active %}active{% endblock %}

{% block body %}
  <div class="page-header">
    <h1>A propos</h1>
  </div>

  <p>{{ block.content | raw }}</p>
{% endblock %}