<div class="list-group list-group-flush">
  {% for activity in activities %}
    <a href="{{ path('activities_show', {'id': activity.id}) }}" class="d-flex align-items-center list-group-item list-group-item-action {% if activity.id == active %}active{% endif %}">
      <i class="far fa-chevron-right mr-4"></i>
      {% include '_i18n/print_name.html.twig' with {'entity': activity} %}
      {% if activity.training %}
        &nbsp;<span class="badge badge-secondary">{{ 'exercise'|trans }}</span>
      {% endif %}
    </a>
  {% endfor %}
</div>