<footer id="footer-nte" class="bg-primary mt-4">
  <div class="container-fluid py-4 text-center">
    <p>
      <img src="{{ asset('images/cc.large.png') }}" alt="cc" width="30">
      <img src="{{ asset('images/by.large.png') }}" alt="by" width="30">
      <img src="{{ asset('images/nc.large.png') }}" alt="nc" width="30">
      <img src="{{ asset('images/sa.large.png') }}" alt="sa" width="30">
    </p>
    &copy; Centre DIT-NTE / Université de Fribourg<br>
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/ch/deed.fr">Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 3.0 Suisse (CC BY-NC-SA 3.0 CH)</a>
  </div>
</footer>