<div id="license" class="panel panel-default">
  <div class="panel-body">
    <p>
        <img src="{{ asset('images/cc.large.png') }}" alt="cc">
        <img src="{{ asset('images/by.large.png') }}" alt="by">
        <img src="{{ asset('images/nc.large.png') }}" alt="nc">
        <img src="{{ asset('images/sa.large.png') }}" alt="sa">
    </p>
    &copy; Centre DIT-NTE / Université de Fribourg<br>
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/ch/deed.fr">Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 3.0 Suisse (CC BY-NC-SA 3.0 CH)</a>
  </div>
</div>