{% if "en" in app.request.locale and entity.infoEn is not empty %}
  <a class="list-group-item list-group-item-action pointer" data-toggle="tooltip" data-trigger="click" title="{{ tool.infoEn | striptags | raw }}">Info</a>
{% elseif "it" in app.request.locale and entity.infoIt is not empty %}
  <a class="list-group-item list-group-item-action pointer" data-toggle="tooltip" data-trigger="click" title="{{ tool.infoIt | striptags | raw }}">Info</a>
{% elseif "de" in app.request.locale and entity.infoDe is not empty %}
  <a class="list-group-item list-group-item-action pointer" data-toggle="tooltip" data-trigger="click" title="{{ tool.infoDe | striptags | raw }}">Info</a>
{% elseif entity.infoFr is not empty %}
  <a class="list-group-item list-group-item-action pointer" data-toggle="tooltip" data-trigger="click" title="{{ tool.infoFr | striptags | raw }}">Info</a>
{% endif %}