<div class="raw">
  &nbsp;
  {% if "en" in app.request.locale and entity.infoEn is not empty %}
    <i data-feather="info" class="ml-auto"
      data-toggle="tooltip" title="{{ entity.infoEn | striptags | raw }}">
    </i>
  {% elseif "it" in app.request.locale and entity.infoIt is not empty %}
    <i data-feather="info" class="ml-auto"
      data-toggle="tooltip" title="{{ entity.infoIr | striptags | raw }}">
    </i>
  {% elseif "de" in app.request.locale and entity.infoDe is not empty %}
    <i data-feather="info" class="ml-auto"
      data-toggle="tooltip" title="{{ entity.infoDe | striptags | raw }}">
    </i>
  {% elseif entity.infoFr is not empty %}
    <i data-feather="info" class="ml-auto" width="18" height="18"
      data-toggle="tooltip" title="{{ entity.infoFr | striptags | raw }}">
    </i>
  {% endif %}
</div>