{% extends 'index/_template-box.html.twig' %}

{% block boxIcon %}clipboard{% endblock %}
{% block boxTitle %}{{ 'training'|trans }}{% endblock %}
{% block boxSubtitle %}{{ 'training_explanation'|trans }}{% endblock %}
{% block boxBlock1 %}{% endblock %}
{% block boxBlock2 %}{% endblock %}
{% block boxLink %}
  <a href="#" class="btn btn-primary btn-block disabled">
    <span class="badge badge-light">Coming soon</span>
  </a>
{% endblock %}