<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Ressources liées
            <span class="label label-primary pull-right">{{ resources | length }}</span>
        </h2>
    </div>
    <div class="panel-body">
        <ul class="side-list resources-list nav nav-pills nav-stacked">
            {% for resource in resources %}
                <li role="presentation">
                    <a class="{{ resource.type }}" href="#">
                        <span>{{ resource }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>