{% if task.humanUpdatedAt is not empty %}
  <p class="well">Mise à jour le {{ task.humanUpdatedAt | date("d.m.Y") }}</p>
{% endif %}
{% if task.recap %}
  <p>
    <a class="btn btn-lg btn-info btn-block recap" href="{{ vich_uploader_asset(task, 'recapFile') }}" alt="{{ task.recap }}">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Scénario complet (PDF)
    </a>
  </p>
{% endif %}
<div class="hidden-xs">
  {% include '_shared/_activities-panel.html.twig' with { 'activities': task.activities, 'active': 'no' } %}
</div>