{% if task.recap %}
    <p>
        <a class="btn btn-info btn-block" href="{{ vich_uploader_asset(task, 'recapFile') }}" alt="{{ task.recap }}">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            Récapitulatif
        </a>
    </p>
{% endif %}