<div id="video-intro" class="card d-none mb-4">
  <div class="card-header">
    Des outils informatiques pour mieux réussir ses études
  </div>
  <div class="card-body d-flex justify-content-center">
    {{ video.content | raw  }}
    <i id="video-close-button" class="fas fa-window-close ml-2 pointer" style="font-size:2em;" data-toggle="tooltip" title="Close"></i></button>
  </div>
</div>