<div id="video-intro" class="card d-none mb-4">
  <div class="card-body d-flex justify-content-center">
    <iframe width="640" height="360" src="https://tube.switch.ch/embed/8957a74a" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <i id="video-close-button" class="fas fa-window-close ml-2 pointer" style="font-size:2em;" data-toggle="tooltip" title="{{ 'close_video'|trans }}"></i></button>
  </div>
</div>