{% extends 'base.html.twig' %}

{% block title %}Scénarios{% endblock %}
{% block tasks_active %}active{% endblock %}

{% block body %}
  <div id="tasks" class="row">
    <div class="col-xs-12">
      <div class="well hidden-xs">
        MyPLE rassemble des ressources d’apprentissage, en libre accès, pour aider les étudiants à choisir et utiliser les outils informatiques dont ils ont besoin pour mieux réussir leurs études à l’Université.
      </div>
    </div>
    <div class="col-xs-12">
      <div id="video-panel" class="panel panel-default hidden-xs" style="display:none">
        <div class="panel-body text-center">
          {{ video.content | raw  }}
          <button type="button" class="close" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p class="lead">Parcourir par scénario</p>
    </div>
    <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
      {% for task in tasks %}
        {{ render(controller(
          'AppBundle:Task:show',
          { 'id': task.id }
        )) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}