{% if tool.activities is not empty %}
  <div class="modal fade" id="{{ tool.id }}Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Activités liées à {{ tool.name }}</h4>
        </div>
        <div class="modal-body">
          {% include '_shared/_activities-list.html.twig' with { 'activities': tool.activities, 'active': 'no' } %}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}