<ul class="nav nav-pills flex-column flex-md-row mb-4">
  <li class="nav-item mb-2 mr-2">
    <a class="nav-link" data-mixitup-control data-filter="all" data-sort="order:asc">{{ 'all'|trans }}</a>
  </li>
  {% for family in families %}
    <li class="nav-item mb-2 mr-2">
      <a class="nav-link" data-mixitup-control data-filter=".family-{{ family.id }}" data-sort="order:asc">
        {% include '_i18n/print_name.html.twig' with {'entity': family} %}
      </a>
    </li>
  {% endfor %}
  <li class="nav-item mb-2 mr-2 d-flex align-items-center">
    <a class="btn no-pointer">
      <i class="fas fa-layer-group"></i> <span class="badge badge-light"><span id="tools-counter">{{ tools | length }}</span>/{{ tools | length }}</span>
    </a>
  </li>
</ul>