<div class="filters-inline hidden-xs">
  <button type="button" class="btn btn-primary filter" data-id="all">Tous</button>
  {% for family in families %}
    <button type="button" class="btn filter" data-id="{{ family.id }}">{{ family.nameFr }}</button>
  {% endfor %}
</div>