<div class="btn-group filters-dropdown visible-xs-block">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtres <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="active"><a href="#" type="button" class="filter" data-id="all">Tous</a></li>
    <li role="separator" class="divider"></li>
    {% for family in families %}
      <li><a href="#" type="button" class="filter" data-id="{{ family.id }}">{{ family.nameFr }}</a></li>
    {% endfor %}
  </ul>
</div>