{% if tool.infoFr %}
  <a
    tabindex="0"
    role="button"
    class="btn btn-default tool-popover"
    data-toggle="popover"
    data-trigger="focus"
    data-content="{{ tool.infoFr }}">
    <i class="fas fa-info-circle"></i>
  </a>
{% endif %}