{% if tool.infoFr %}
  <a
    tabindex="0"
    role="button"
    class="btn btn-default tool-popover"
    data-toggle="popover"
    data-trigger="focus"
    data-content="{{ tool.infoFr }}">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
  </a>
{% endif %}