<div class="col-sm-6 col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ tool.name }}</h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            {% if tool.imageName is empty %}
              <img src="{{ ('/images/void.png') | imagine_filter('thumb_50') }}" alt="">
            {% else %}
              <img src="{{ vich_uploader_asset(tool, 'imageFile') | imagine_filter('thumb_50') }}" alt="">
            {% endif %}
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Middle aligned media</h4>
          <div>
            {% for family in tool.families %}
              <span class="label label-default">{{ family.nameFr }}</span>
            {% endfor %}
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><i class="fa fa-external-link" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activités liées
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>