{% extends 'base.html.twig' %}

{% block title %}Outils{% endblock %}
{% block tools_active %}active{% endblock %}

{% block body %}
  <div id="tools-families" class="row">
    <div class="col-xs-12">
      {% include 'tools/_filters-inline.html.twig' %}
      {% include 'tools/_filters-dropdown.html.twig' %}
    </div>
  </div>
  <div id="tools" class="row">
    {% for tool in tools %}
      {% include 'tools/_tool.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/tools.js') }}"></script>
{% endblock %}