{% extends 'base.html.twig' %}

{% block title %}{{ 'tools'|trans }}{% endblock %}
{% block tools_active %}active{% endblock %}

{% block body %}
  {% include 'tools/_filters.html.twig' %}
  <div id="tools" class="row card-deck">
    {% for tool in tools %}
      {% include 'tools/_tool.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}