@import "bs_nte";
@import "bs_override";
@import "bs_responsive-card-deck";
@import '~flag-icon-css/sass/flag-icon';

.mixitup-control-active {
  color: #fff !important;
  background-color: $blue !important;
  &:hover {
    color: #fff;
  }
}

.raw a {
  text-decoration: underline dotted;
  color: lighten($blue, 20%);
}

.jumbotron p.list {
  margin-bottom: 2px;
}