{% extends 'base.html.twig' %}

{% block title %}{{ 'about'|trans }}{% endblock %}
{% block about_active %}active{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ 'about'|trans }}</h1>
    <p>{{ 'app_description'|trans }}</p>
    <iframe width="100%" height="360" src="https://tube.switch.ch/embed/8957a74a" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
{% endblock %}