{% if activity.biblio %}
    <div class="panel panel-default panel-content">
        <div class="panel-heading" role="tab" id="headingBiblio">
            <h2 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseBiblio" aria-expanded="true" aria-controls="collapseBiblio">
                    Bibliographies
                </a>
            </h2>
        </div>
        <div id="collapseBiblio" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingBiblio">
            <div class="panel-body">
                {{ activity.biblio | raw }}
            </div>
        </div>
    </div>
{% endif %}