{% if activity.goalFr %}
    <div class="panel panel-default panel-content">
        <div class="panel-heading" role="tab" id="headingGoals">
            <h2 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseGoals" aria-expanded="true" aria-controls="collapseGoals">
                    Finalités
                </a>
            </h2>
        </div>
        <div id="collapseGoals" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGoals">
            <div class="panel-body">
                {{ activity.goalFr | raw }}
            </div>
        </div>
    </div>
{% endif %}