<div class="panel panel-default panel-content">
    <div class="panel-heading" role="tab" id="headingSteps">
        <h2 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseSteps" aria-expanded="true" aria-controls="collapseSteps">
                Étapes
            </a>
        </h2>
    </div>
    <div id="collapseSteps" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSteps">
        <div class="panel-body">
            {{ activity.stepsFr | raw }}
        </div>
    </div>
</div>